%h2 Parts
%ul.tag-cloud
  <li><a href="" rel="tag" class="w2">Hairstyles</a></li>
  <li><a href="" rel="tag" class="w8">Lipsticks</a></li>
  <li><a href="" rel="tag" class="w3">Glasses</a></li>
  <li><a href="" rel="tag" class="w4">Eyebrows</a></li>
  <li><a href="" rel="tag" class="w5">Blushers</a></li>
  <li><a href="" rel="tag" class="w6">Eyeshadows</a></li>
  <li><a href="" rel="tag" class="w7">Eyeliners</a></li>
  <li><a href="" rel="tag" class="w9">Eyelashes</a></li>
  <li><a href="" rel="tag" class="w1">Jewelry</a></li>
  <li><a href="" rel="tag" class="w3">Contact lenses</a></li>
